/* Custom Stylesheet */


/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.full-tam {
    height: 100vh;
    width: 100%;
    min-height: 325px;
    min-width: 485px;
}