/* Custom Stylesheet */

/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

html {
  overflow: hidden;
}

.full-tam {
  height: 90vh;
  width: 100%;
  min-height: 263px;
  min-width: 408px;
}

/* Disminuir tamaño del nav */

nav {
  height: 30px;
  line-height: 30px;
}

nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
  height: 30px;
  line-height: 30px;
}

nav .button-collapse i {
  height: 30px;
  line-height: 30px;
}

nav .brand-logo {
  font-size: 1.6rem;
}

@media only screen and (min-width: 601px) {
  nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
    height: 30px;
    line-height: 30px;
  }
}

.input-field input[type=text]:focus+label, .materialize-textarea:focus:not([readonly])+label {
  color: #3f51b5 !important;
}

.input-field input[type=text]:focus, .materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #3f51b5 !important;
  box-shadow: 0 1px 0 0 #3f51b5 !important;
}

/* valid color */
.input-field input[type=text].valid {
  border-bottom: 1px #9fa8da  ;
  box-shadow: 0 1px 0 0 #9fa8da  ;
}

td, th {
  padding: 4px 4px;
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  border-radius: 2px;
}
